<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar</title>
</head>
<body>
    
    <form method="POST" class="box" >
      <h1>Cambiar contraseña </h1>
      <input type="hidden" name="csrfmiddlewaretoken" value="q5It2UrrjZebFba1K3mYFa3SCce2FwshDXKBVyT1lbS8PvHzp3cQTKlarzxDlM6x">
     
       
     <p><label for="id_contraseña">Contraseña :</label> <textarea name="contraseña" cols="40" rows="2" maxlength="30" required id="id_contraseña">
     </textarea></p>
     <br>
     <p><label for="id_contraseña2" >Contraseña2:</label> <textarea name="contraseña2" cols="40" rows="2" maxlength="30" required id="id_contraseña2">
     </textarea></p> 

     <button type="submit" class="formulario__btn">Enviar</button>
    </form>
</form>
</body>
</html>